<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="dev.skymansandy.wiretap.helper.initializer.WiretapInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name="dev.skymansandy.wiretap.presentation.WiretapConsoleActivity"
            android:exported="false"
            android:label="Wiretap"
            android:taskAffinity="dev.skymansandy.wiretap.console"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />

        <receiver
            android:name="dev.skymansandy.wiretap.helper.launcher.WiretapClearLogsReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="dev.skymansandy.wiretap.ACTION_CLEAR_LOGS" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
